footer {
    text-align: right;
    margin-right: 50px;
}

hr {
    background-color: blueviolet;
    height: 1px;
}

 table {
     border-collapse: collapse;
     width: 100%;
 }
th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

input[type=submit] {
    background-color: aquamarine;
    color: black;
}

a:link, a:visited {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

a:link:active, a:visited:active {
    color: blueviolet;
}